<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Deckster</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Poiret+One'>
    <link rel='stylesheet' type='text/css' href='/angular-bootstrap-colorpicker/css/colorpicker.min.css'>

    <script src="/lodash/index.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/Snap.svg/dist/snap.svg-min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="/vivus/dist/vivus.min.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="Deckster">
    <div class="row">
        <div class="col-md-2">
            <navbar></navbar>
        </div>
        <div class="col-md-10">
            <div id="main" class="fade" ui-view></div>
        </div>
    </div>
</body>
</html>