<div class="row" id="cards">
	<div class="col-md-3">
		<h3>Cards in<br />{{ deck.name }}</h3>
		<a class="list-group-item list-group-item-success" ng-click="goAddCard()" href="#"><span class="glyphicon glyphicon-plus"</span> Add New Card</a>
		<hr />
		<a class="list-group-item list-group-item-warning" ng-click="back()" href="#"><span class="glyphicon glyphicon-backward"</span> Back to Profile</a>
	</div>
	<div class="col-md-9">
		<span class="alert alert-danger" ng-show="deck.cards.length === 0">This deck doesn't have any cards! Add a new card and let's get crackin'!</span>
		<ul style="list-style-type:none" id="card-list">

			<li ng-repeat="card in deck.cards"
			    style="float:left;width:40%;padding:1%;">
					<div class="panel panel-info">
						<div class="panel-body">
						<a href="#" class="close" ng-click="removeCard(deck._id, card._id)">x</a>
						<a ng-click="goEditor(card)" href="#" style="text-decoration:none">
							{{ card.name }}
						</div>
					</div>
				</a>
			</li>

		</ul>
	</div>
</div>