<nav id="sidebar-nav" role="navigation">
    <a ui-sref="home" class="logo">
        <deckster-logo-small></deckster-logo-small>
        Deckster
    </a>
    <div class="flex flex-column">
        <a ng-show="!user" ui-sref="login">
            Login
        </a>
        <a ng-show="!user" ui-sref="signup">
            Signup
        </a>
        <a ng-show="user" ui-sref="profile(user._id)">
            Your Profile
        </a>
        <a ng-show="user" ng-click="open('lg')" href="#">
            Create New Deck
        </a>
        <a ng-show="user" ng-click="logout()" href="#">
            Logout
        </a>
    </ul>
</nav>
