<div id="wrapper">
    <div class="overlay"></div>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="home">
                    <deckster-logo-small></deckster-logo-small>
                   Deckster
                </a>
            </li>
            <br /><br />
            <li>
                <a ng-show="!user" ui-sref="login">Login</a>
            </li>
            <li>
                <a ng-show="!user" ui-sref="signup">Signup</a>
            </li>
            <li>
                <a ng-show="user" ui-sref="profile(user._id)">Your Profile</a>
            </li>
            <li>
                <a ng-show="user" ng-click="open('lg')" href="#">Create New Deck</a>
            </li>
            <li>
                <a ng-show="user" ng-click="logout()" href="#">Logout</a>
            </li>
        </ul>
    </nav>
</div>