<form name="addCard">
	<div class="form-group">
		<label for="card">Give your new card a name! (We'll give it a default name if you don't feel like it)</label>
		<input name="newCardName" ng-model="card.name" class="form-control" />
	</div>
	<div class="form-group">
		<label for="templateSelect">Select a card template to get this started!</label>
		<select name="templateSelect" class="form-control" ng-model="card.svg" >
			<option ng-repeat="template in templates"
			        value="{{template.svg}}">{{ template.name }}</option>
		</select>
	</div>
	<button ng-click="submit(deck._id, card)" class="btn btn-success">Let's Go!</button>
</form>
