#sidebar-nav {
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;

  a.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 800;
  }

  a {
    color: #eee;
    padding: 1em;

    &:hover {
      text-decoration: none;
      background-color: #555;
    }

    &:focus {
      text-decoration: none;
    }
  }
}
