<div class="modal-header">
    <h3 class="modal-title">{{ deck.name }}</h3>
</div>
<div class="modal-body">
	<form name="deckOptions">
		<div class="list-group">
			<a class="list-group-item list-group-item" ng-click="goCards()" href="#"><span class="glyphicon glyphicon-pencil"</span> Manage Cards</a>
			<a class="list-group-item list-group-item" ng-click="goAddCard()" href="#"><span class="glyphicon glyphicon-plus"</span> Add New Card</a>
			<a class="list-group-item list-group-item" ng-click="goPrint()" href="#"><span class="glyphicon glyphicon-print"</span> Print Deck</a>
			<a class="list-group-item list-group-item" ng-click="cancel()" href="#">Cancel</a>
		</div>
	</form>
</div>