<div class="row">
	<div class="col-md-8">
		<h1 id="1">{{ card.name }}</h1>
		<div id="svg-container" style="height:100%;width:100%"></div>
	</div>
	<div class="col-md-4" id="toolbar">
		<!-- Change Background Color -->
		<h4>
			<a colorpicker="rgba" type="text" ng-model="edit.fill" href="#">Change Background Color</a>
			<span class="btn" style="background-color:{{ edit.fill }};" ng-click="changeBgColor(edit.fill)">Apply</span>
		</h4>

		<hr />

		<!-- Change Background Image -->
		<h4>
			Add Background Image
		</h4>
			<span class="btn" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select File</span>

		<hr />

		<!-- Change Border Size -->
		<h4>
			<a ng-click="borderSizeCollapsed = !borderSizeCollapsed" href="#">
				Change Border Size
			</a>
			<span class="btn" ng-click="changeBorderSize(edit.borderSize)">Apply</span>
		</h4>
		<div uib-collapse="borderSizeCollapsed">
			<input type="number" class="form-control" ng-model="edit.borderSize" />
		</div>

		<hr />

		<!-- Change Border Color -->
		<h4>
			<a colorpicker="rgba" type="text" ng-model="edit.strokeColor" href="#">Change Border Color</a>
			<span class="btn" style="background-color:{{ edit.strokeColor }};" ng-click="changeBorderColor(edit.strokeColor)">Apply</span>
		</h4>

		<hr />

		<!-- Change Text Element -->
		<h4>
			<a ng-click="textOptionsCollapsed = !textOptionsCollapsed" href="#">
				Add Text Element
			</a>
			<span class="btn" ng-click="addTextElement(text)">Apply</span>
		</h4>
			<div uib-collapse="textOptionsCollapsed">
				<label for="fontSelect">Font Style</label>
				<select class="form-control" name="fontSelect" ng-model="text.fontStyle">
					<option>Serif</option>
					<option>Sans-serif</option>
					<option>Cursive</option>
					<option>Fantasy</option>
					<option>Monospace</option>
				</select>

				<label for="fontSize">Font Size</label>
				<input type="number" class="form-control" name="fontSelect" ng-model="text.fontSize" />

				<label for="textContent">Content</label>
				<textarea class="form-control" name="textContent" ng-model="text.textContent"></textarea>
			</div>

		<hr />

		<!-- Save -->
		<span class="btn btn-success" ng-click="save()">Save Changes</span>
		<span ng-show="!card.isTemplate"><input type="checkbox" ng-model="templateCheck" style="display:inline"> Save as Template?</span>
		<br /><br />
		<uib-alert type="success" ng-show="toggleAlert"> Nice! All saved!</uib-alert>

	</div>
</div>