* {
  box-sizing: border-box;
}

body {
  background-image: url('white-construction-paper-texture.jpg');
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  // width: 1200px;
  margin: 0 auto;
}

section {
  text-shadow: 2px 2px #ffffff;
  img {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index:-1
  }
}

.toolbar {
  height:100%;
  overflow: scroll;

  a {
    color: #333333;
    text-decoration: none;
  }
  a:hover {
    color: #314190;
  }
}

@import 'animations/main';
@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'signup/main';
